<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okay.myapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity01_ShareData"/>
        <activity android:name=".Activity02_Multimedia"/>
        <activity android:name=".Activity03_ScrollBarStyle"/>
        <activity android:name=".Activity04_Fragment"/>
        <activity android:name=".Activity05_StatusBarStyle"/>
        <activity android:name=".Activity06_OpenSourceLibrary"/>
        <activity android:name=".Activity06_Icon"/>
        <activity android:name=".Activity07_WebViewExample"/>
        <activity android:name=".Activity08_ViewDragHelper"/>
        <activity android:name=".Activity09_Android_AIDL"/>
        <service android:name=".service.MyService"/>

        <!--WebView-->
        <!--
           1.键盘隐藏、屏幕旋转不重新创建activity:
            android:configChanges="keyboardHidden|orientation|screenSize"
        -->
        <activity
            android:hardwareAccelerated="true"
            android:name=".mywebview.ActivitySysWebView"/>
        <activity android:name=".mywebview.ActivitySysWebViewCallJs"/>
        <activity android:name=".mywebview.ActivityX5_FileChooser"/>
        <activity android:name=".mywebview.ActivityX5_FullScreen"/>
        <activity android:name=".mywebview.ActivityX5_Browser"/>
        <activity android:name=".mywebview.ActivityX5_OpenPPT"/>



    </application>

</manifest>